name: kusto-language-server-pr-validation

on:
  pull_request:
    branches:
      - master
    paths:
      - './kusto-language-server/**'
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Changelog Reminder
        uses: peterjgrainger/action-changelog-reminder@v1.3.0
        with:
          changelog_regex: '.*kusto-language-server\/CHANGELOG.md'
          customPrMessage: Please update CHANGELOG.md with a short summary of the changes in this version.
